.topAbout {
    padding-top: 188px;
    padding-bottom: 142px;
    .container {
        position: relative;
    }
    figure {
        position: absolute;
        width: 384px;
        height: auto;
        right: 0;
        margin-bottom: 0;
        z-index: 1;
        top: -186px;
        right: 57px;
    }
    &__title {
        width: 55%;
        position: relative;
        color: $fontColor;
        font-size: 28px;
        line-height: 54px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 38px;
        span {
            letter-spacing: 2px;
            color: $mainColor;
            position: relative;
            padding-right: 5px;
            &::after {
                position: absolute;
                width: 100%;
                height: 14px;
                content: '';
                left: -5px;
                bottom: -2px;
                background-color: #fff;
                z-index: -1;
            }
        }
    }
    &__content {
        position: relative;
        color: $fontColor;
        font-weight: bold;
        line-height: 32px;
        z-index: 2;
        white-space: pre-wrap;
    }
}
@media only screen and (max-width: 991px) {
    .topAbout {
        padding-top: 70px;
        padding-bottom: 70px;
        figure {
            position: relative;
            transform: translate(50%, 0);
            top: 0;
            right: unset;
            width: 50%;
            margin-bottom: 15px;
        }
        &__title {
            width: 100%;
            font-size: 25px;
            line-height: 40px;
            margin-bottom: 20px;
        }
        &__content {
            line-height: 30px;
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .topAbout {
        padding-top: 70px;
        padding-bottom: 42px;
        figure {
            width: 263px;
            margin-bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }
        &__title {
            font-size: 19px;
            line-height: 37px;
            font-weight: bold;
            letter-spacing: 0;
            margin-bottom: 13px;
            br {
                display: none;
            }
        }
        &__content {
            font-size: 14px;
            line-height: 28px;
        }
    }
}