.solution {
    background-color: #fff;
    padding-bottom: 188px;
    &__transition {
        display: flex;
        justify-content: center;
        figure {
            position: relative;
            width: 151px;
            height: 79px;
            margin-bottom: 0;
            img {
                object-fit: contain;
            }
        }
    }
    &__content {
        display: flex;
        line-height: 2em;
        color: $fontColor;
        font-weight: bold;
        &-textwrap {
            padding-top: 174px;
              width: 48%;
        }
        &-imgwrap {
            flex: 1;
            figure:nth-child(1) {
                position: relative;
                width: 431px;
                height: 288px;
                margin-bottom: 0;
                img {
                    object-fit: contain;
                }
                left: 35px;
                top: 60px;
            }
            figure:nth-child(2) {
                position: relative;
                width: 431px;
                height: 288px;
                margin-bottom: 0;
                img {
                    object-fit: contain;
                }
                left: 190px;
                top: 5px;
            }
        }
    }
    &__title {
        font-weight: bold;
        font-size: 42px;
        color: $fontColor;
        line-height: 1.5em;
        letter-spacing: 1px;
        margin-bottom: 28px;
        word-break: break-word;
        span {
            color: $mainColor;
            position: relative;
            padding-right: 5px;
            z-index: 2;
            &:after {
                position: absolute;
                content: '';
                width: calc(100% + 5px);
                height: 14px;
                left: -5px;
                bottom: 4px;
                background-color: #d4f1ff;
                z-index: -1;
            }
        }
    }
    &__describe {
        white-space: pre-wrap;
    }
}

@media only screen and (max-width: 1199px) {
    .solution {
        &__content {
            padding-top: 40px;
            justify-content: space-between;
            &-textwrap {
                padding-top: 100px;
            }
            &-imgwrap {
                display: flex;
                flex-direction: column;
                gap: 20px;
                figure:nth-child(1) {
                    top: 0;
                    left: 0;
                }
                figure:nth-child(2) {
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .solution {
        padding-bottom: 70px;
        &__title {
            font-size: 38px;
            line-height: 1.5em;
        }
        &__content {
            flex-direction: column;
            padding-top: 0;
            &-textwrap {
                padding-top: 50px;
                width: 100%;
            }
            &-imgwrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: unset;
                width: 100%;
                padding-top: 17px;
                gap: 0;
                figure:nth-child(1) {
                    width: calc(50% + 50px);
                    height: auto;
                    align-self: start;
                    -webkit-align-self: flex-start;
                }
                figure:nth-child(2) {
                    width: calc(50% + 50px);
                    height: auto;
                    left: unset;
                    top: -34px;
                    align-self: end;
                    -webkit-align-self: flex-end;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .solution {
        padding-bottom: 56px;
        &__title {
            font-size: 30px;
            margin-bottom: 10px;
            span {
                padding-right: 0;
                margin-right: 3px;
                &::after {
                    width: 100%;
                    left: 0;
                }
            }
        }
        &__content {
            font-size: 14px;
            line-height: 2em;
            &-textwrap {
                padding-top: 20px;
            }
            &-imgwrap {
                width: 100%;
                padding-top: 17px;
                gap: 0;
                figure:nth-child(1) {
                    width: 84.4%;
                    height: auto;
                    left: -24px;
                }
                figure:nth-child(2) {
                    width: 84.4%;
                    height: auto;
                    left: unset;
                    right: -24px;
                    top: -34px;
                }
            }
        }
        &__describe {
            br {
                display: none;
            }
            white-space: normal;
        }
    }
}