.is-sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.3s ease-out;
    height: 80px !important;
    .navbar-pc {
        padding-top: 0;
        height: 100%;
        .header__item {
            height: 100%;
        }
    }
    .container-full {
        height: 100%;
    }
}

.header__logo {
    figure {
        position: relative;
        z-index: 2;
        width: 198px;
        height: 44px;
        margin-bottom: 0;
        img {
            object-fit: contain;
        }
        cursor: pointer;
    }
}

.header__nav {
    margin-top: 15px;
    margin-bottom: 15px;
    li a {
        padding: 5px;
        color: $fontColor;
        font-size: 14px;
        text-decoration: none;
    }
    li a:hover {
        opacity: $opacity;
    }
    

    &-button {
        font-weight: bold;
        font-size: 14px;
    }
}

.header__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
        list-style-type: none;
        display: inline-block;
        padding-left: 26px;
        font-weight: bold;
        text-decoration: none;
    }
}

.navbar-pc {
    padding-top: 47px;
    padding-left: 53px;
    padding-right: 48px;
}

.navbar-mobile{
    display: none;
}

@keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
}

@media only screen and (max-width: 991px) {
    // PC Navbar disappear when in Mobile mode

    .header__nav-button {
        font-size: 20px;
    }

    .navbar-pc{
        display: none;
    }

    // show  Mobile Navbar

    .header__logo {
        display: flex;
        min-height: 80px;
        align-items: center;
        figure {
            width: 158px;
            height: 35px;
        }
    }
    .navbar-mobile{
        display: block;
        position: relative;
        z-index: 10;
        a {
            text-decoration: none;
            color: #ffffff;
            -webkit-tap-highlight-color: none;
        }
    }

    :root {
        --slider-width: 447px;
    }

    // CSS items in navbar mobile

    li {
        list-style: none;
    }

    .navbar {
        min-height: 80px;
        position: relative;
        height: 100%;
        padding: 0 35px;

        overflow: hidden;
        z-index: 2;
    }

    .menu {
        z-index: 1;

        // make a checkbox to check when click
        .checkbox {
            position: absolute;
            top: 22px;
            right: 25px;
            width: 42px;
            height: 35px;
            border-radius: 4px;
            z-index: 2;
            opacity: 0;
            cursor: pointer;
        }

        .hamberger {
            position: absolute;
            top: 22px;
            right: 25px;
            z-index: 1;
            width: 42px;
            height: 35px;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4px;
            &> div {
                flex: none;
                width: 22px;
                height: 3px;
                border: none;
                border-radius: 1px;
                background: $fontColor;
                transition: all 300ms ease;
                transform-origin: 20.5px;
                &:nth-child(2) {
                    height: 2.5px;
                }
            }
        }

        .slider {
            position: fixed;
            top: 0;
            right: 0;
            overflow: hidden;
            width: var(--slider-width);
            max-width: 100%;
            height: 100vh;
            background: #fff;
            transform: translate3d(25vw, 0, 0);
            opacity: 0;
            transition: transform 300ms ease, opacity 150ms linear;
            pointer-events: none;
            padding: 110px 62px 0 62px;
            .slider-menu {
                max-width: var(--slider-width);
                max-height: 100%;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 35px;
                a {
                    margin-bottom: 40px;
                }
                li {
                    width: 50%;
                    a {
                        color: $fontColor;
                        font-weight: bold;
                       
                    }
                    a:hover {
                        color: black;
                        text-decoration: none;
                    }
                    display: flex;
                    flex-direction: column;
                    font-size: 20px;
                    line-height: 30px;  
                    font-weight: 600;
                }
                li:nth-child(odd) {
                    padding-right: 31px;
                }
                li:nth-child(even) {
                    padding-left: 31px;
                }
            }
            .slider-button {
                padding-top: 40px;
                border-top: solid 2px #e9eef0;
                .wakka_btn {
                    width: 100%;
                    height: 75px;
                }
            }
        }
    }

    // when checkbox is clicked, show hamberger menu
    .menu .checkbox:checked + .hamberger > div:nth-child(1) {
        transform: rotate3d(0, 0, 1, -45deg);
    }
    .menu .checkbox:checked + .hamberger > div:nth-child(2) {
        opacity: 0;
    }
    .menu .checkbox:checked + .hamberger > div:nth-child(3) {
        transform: rotate3d(0, 0, 1, 45deg);
    }

    .checkbox:checked ~ .slider {
        transform: translate3d(0px, 0, 0);
        opacity: 1;
        pointer-events: all;
    }

    @media (min-width: 447px) and (max-width: 1024px) {
        :root {
            --slider-width: 100vw;
        }
        .menu .slider .slider-menu {
            overflow: hidden;
        }
        .checkbox:checked ~ .slider .slider-menu {
            overflow-y: auto;
        }
    }
}

@media only screen and (max-width: 1299px) {
    .header__item {
        li {
            padding-left: 25px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .header__item {
        li {
            padding-left: 25px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .is-sticky {
        height: 44px !important;
    }
    :root {
        --slider-width: 100vw;
    }

    .menu {
        .hamberger {
            top: 5px;
            right: 4px;
            &> div {
                width: 18px !important;
                height: 2px !important;
            }
        }
        .checkbox {
            top: 5px;
            right: 4px;
        }
        .slider {
            padding: 70px 24px 0 24px;
            .slider-menu {
                margin-bottom: 16px;
                a {
                    margin-bottom: 18px;
                }
                li {
                    a {
                        font-size: 14px;
                    }
                }
                li:nth-child(odd) {
                    padding-right: 12px;
                }
                li:nth-child(even) {
                    padding-left: 12px;
                }
            }
            .slider-button {
                padding-top: 27px;
                border-top: solid 1px #e9eef0;
                .wakka_btn {
                    width: 100%;
                    height: 54px;
                }
            }
        }
    }

    .menu .checkbox:checked + .hamberger > div:nth-child(1) {
        transform: rotate3d(0, 0, 1, -45deg);
        position: relative;
        top: -4px;
    }
    .header__logo figure {
        width: 115px;
        height: 40px;
    }
    .navbar {
        padding: 0 12px;
        min-height: 44px;
    }
    .header__logo {
        min-height: 44px;
    }
}

