$fontColor: #364d59;
$backgroundColor: #eaf5fa;
$mainColor: #1987c2;
$opacity: .6;

body {
    background-color: $backgroundColor !important;
}

html {
    scroll-behavior: smooth !important;
}

.container-full {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 575px) {
    .container {
        width: 100% !important;
        margin-right: auto;
        margin-left: auto;
    }
    .mainVisual {
        .container-full {
            max-width: unset;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 650px !important;
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
    .mainVisual {
        .container-full {
            max-width: unset;
            width: calc(100% - 48px);
        }
    }
}

@media (min-width: 992px) {
    .container {
      max-width: 960px !important;
    }
  }

@media (min-width: 1200px) {
    .container {
        max-width: 1024px !important;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1024px !important;
        padding-left: 0;
        padding-right: 0;
    }
}