.backToTop {
    display: none;
    position: fixed;

    &.show {
        display: flex;
    }

    justify-content: center;
    align-items: center;

    z-index: 6;
    cursor: pointer;
    background-color: $mainColor;
    border: none;
    border-radius: 100%;

    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 20px;

    svg {
        width: 12px;
        height: 16px;
        path {
            fill: #fff;
        }
    }
    &:hover {
        opacity: .8;
    }
}

@media only screen and (max-width: 575px) {
    .backToTop {
        width: 40px;
        height: 40px;
        right: 10px;
        bottom: 15px;
    }
}