.faq {
    padding-top: 175px;
    padding-bottom: 170px;
    .collapse-item {
        display: flex;
        gap: 30px;
        border-bottom: solid 2px #e9eef0;
        padding-top: 20px;
    }

    background-color: #fff;
    
    &-list {
        padding-top: 35px;
    }
    &-item {
        flex: 1;
    }

    &-question-icon {
        position: relative;
        margin-top: 5px;
        width: 13px;
        height: 13px;
        margin-left: 24px;
        img {
            object-fit: contain;
        }
    }
    &-itemQ {
        position: relative;
        padding-right: 10px;
        margin-bottom: 20px;
        color: $fontColor;
        font-weight: bold;
        flex: 1;
        &-wrap {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            $w: 20px;
            $h: 3px;
            $bg: $fontColor;
            $transition: .25s all cubic-bezier(.17,.67,.09,.97);
            .icon-wrap {
                width: 50px;
                height: 30px;
                background: none;
                display: flex;
                justify-content: center;
            }
              
            .toggle {
                width: $w;
                height: $h;
                background: $bg;
                position: relative;
                transition: $transition;
                top: 10px;

                &.close::after {
                  transform: rotate(90deg);
                  opacity: 1;
                }
                
                &.close {
                  transform: rotate(90deg);
                }
                
                &::after {
                  content: "";
                  width: $w;
                  transition: $transition;
                  transition-delay: .1s;
                  height: $h;
                  position: absolute;
                  opacity: 0;
                  background: $bg;
                }
            }
        }
    }
    &-itemA {
        padding-right: 50px;
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s ease-out;
        font-size: 15px;
        color: #7d878c;
        line-height: 1.7em;
        &.show {
            margin-bottom: 30px;
        }
        p {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 991px) {
    .faq {
        padding-top: 70px;
        padding-bottom: 70px;
        &-question-icon {
            margin-left: 0;
        }
    }
}

@media only screen and (max-width: 575px) {
    .faq {
        padding-top: 50px;
        padding-bottom: 92px;
        &-list {
            padding-top: 0;
        }
        .collapse-item {
            padding-top: 10px;
            gap: 15px;
        }
        &-question-icon {
            margin-top: 6px;
        }
        &-itemQ {
            font-size: 14px;
            line-height: 1.8em;
            margin-bottom: 10px;
            &-wrap {
                gap: 15px;
                .icon-wrap {
                    width: 20px;
                    height: 20px;
                }
                .toggle {
                    height: 2px;
                    top: 15px;
                    &::after {
                      height: 2px;
                    }
                }
            }
        }
        &-itemA {
            font-size: 13px;
            line-height: 1.8em;
            &.show {
                margin-bottom: 10px;
            }
        }
    }
}